<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>

    <!--微博登录配置示例-->
    <!--微博AppKey-->
    <add key="Weibo_App_Key" value="123456789"/>
    <!--微博AppSercet-->
    <add key="Weibo_App_Sercet" value="2a3fffffffttyyy4f20c7fffd478e"/>
    <!--微博登录成功后的回调地址-->
    <add key="WeiboCallbackUrl" value="http://oauth.test.com/WeiboOAuthAccount/CallBack"/>
    <!--是否强制重新登录微博 设置为true则每次需要重新登录-->
    <add key="WeiboForcelogin" value="false"/>

  </appSettings>
</configuration>