<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>

		<!--SimpleFactoryV1配置-->
		<add key="UserAssemblyName" value="_11抽象工厂模式"/>
		<add key="UserClassFullName" value="_11抽象工厂模式.UserTableByMySQL"/>
		<add key="ProductAssemblyName" value="_11抽象工厂模式"/>
		<add key="ProductClassFullName" value="_11抽象工厂模式.ProductTableByMySQL"/>


		<!--SimpleFactoryV2配置-->
		<add key="DataSourceFactoryAssemblyName" value="_11抽象工厂模式"/>
		<add key="DataSourceFactoryClassFullName" value="_11抽象工厂模式.Classics.SQLServiceFactory"/>
	</appSettings>

</configuration>