<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--kafka主题名称-->
    <add key="kafka_topic" value="TestForMstm"/>
    <!--kafka连接信息，多个连接以英文分号分割-->
    <add key="kafka_conns" value="http://192.168.233.129:9092"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
