<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>

    <!--QQ登录配置示例-->
    <!--APP ID-->
    <add key="QQAppId" value="123456789"/>
    <!--APP KEY-->
    <add key ="QQAppKey" value="6fd786ffff984ad2eeeeeec21f14bf555"/>
    <!--QQ登录成功后的回调地址-->
    <add key="QQCallbackUrl" value="http://oauth.test.com/QQOAuthAccount/CallBack"/>


  </appSettings>
</configuration>